# CONFIG
alias dot="cd $DOTFILES_PATH"
alias dotConfig="subl $DOTFILES_PATH"
alias shared="subl dotfiles"
alias zshconfig="subl ~/.zshrc"
alias zc="subl -n ~/.zshrc"
alias ohmyzsh="subl ~/.oh-my-zsh"
alias reload="source ~/.zshrc"
alias hosts="subl /etc/hosts"

# DIRECTORIES
alias sites="cd ~/Sites"
alias repos="cd ~/Repos"
alias code="cd ~/Code"
alias desk="cd ~/Desktop"
alias dsites="cd ~/Dropbox/sites"
alias jsDir="cd ~/Repos/JavaScript"

# RAILS
alias r="rails"
alias s="server"

# GIT
alias gig="subl .gitignore"

# alias ohmy="subl -n $ZSH && reload"
# alias reload="source $ZSH_CONFIG_USER"
# alias zc="subl -n $ZSH_CONFIG_USER && reload"

# iOS
alias killsim="  ps aux | grep _sim | grep -v grep | awk '{print $2}' | xargs kill -9 2>/dev/null"
alias simdir="cd /Applications/Xcode.app/Contents/Developer/Applications"
alias simreset="xcrun simctl erase all"

# OSX
alias hidedesktop="defaults write com.apple.finder CreateDesktop false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop true && killall Finder"
# alias camerafix="sudo killall VDCAssistant"

# OSX Processes
alias killspot="sudo killall mds"
alias killsoftup="ps -ef | grep softwareupdated | awk ‘{print $2}’ | xargs sudo kill -9"
alias killdock="killall Dock"
alias killfind="killall Finder"
alias killer="killspot && killsoftup && killdock && killfind"

# HEROKU
alias herlot="heroku logs -t"
alias herlog="heroku logs"
alias herpu="git push heroku master"
alias herop="heroku open"

# MONGO
alias mongo_start="mongod --config /usr/local/etc/mongod.conf & tail -f /usr/local/var/log/mongodb/mongo.log"

# POSTGRES
alias pg_start="pg_ctl -D /usr/local/var/postgres start"
alias pg_stop="pg_ctl -D /usr/local/var/postgres stop"
alias psql_start="'/Applications/Postgres.app/Contents/Versions/9.6/bin'/psql -p5432"

# Projects 
alias goApp="cd $HOME/Repos/GoinOut/GoinOut_iOS"
alias nyn="cd /Users/nicholasanthony/Repos/newyorknick"
alias rnr="cd /Users/nicholasanthony/Repos/react-native"
alias explore="cd /Users/nicholasanthony/Repos/explore-saratoga"
alias zio="cd /Applications/MAMP/htdocs/zumby/webroot"
alias zServ="cd /Applications/MAMP/htdocs/zumby/microservices/lad/zumby-services"
alias mix="cd /Users/nicholasanthony/Repos/socialmixx/socialmixx-ios"
alias ss="cd /Users/nicholasanthony/Repos/socialmixx/socialmixx-ios/ios-starter/swift-starter"
alias goWeb="/Users/nicholasanthony/Repos/goout/GoinOut_WebApp"

# REACT NATIVE
alias rn="react-native"
alias rn7='react-native run-ios --simulator "iPhone 7"'

# MAMP
alias mamp="cd /Applications/MAMP/"
alias mampmysql="cd /Applications/MAMP/tmp/mysql/"
alias maMy="/Applications/MAMP/Library/bin/mysql -uroot -proot --socket=/Applications/MAMP/tmp/mysql/mysql.sock"
alias myMyd="/Applications/MAMP/Library/bin/mysqld"

# RABBIT MQ
alias rmq='rabbitmqctl'
alias rmqplugins='rabbitmq-plugins'
alias rmqserver='rabbitmq-server'

# SERVERS
alias zumbydev="ssh -p 1 webapp@172.31.21.74"
alias mongoTunnel="ssh -L 27000:127.0.0.1:27017 -p 1 jenkins@172.31.21.74 -fN -vv"


# FUNCTIONS
function trashd () {
  mv -R $1 ~/.Trash/
}

function trash () {
  mv ~/.Trash/
}














