alias dot="cd $DOTFILES_PATH"
alias dotConfig="subl $DOTFILES_PATH"
alias shared="subl dotfiles"
alias zshconfig="subl ~/.zshrc"
alias zc="subl -n ~/.zshrc"
alias ohmyzsh="subl ~/.oh-my-zsh"
alias reload="source ~/.zshrc"
alias Sites="cd ~/Sites"
alias Repos="cd ~/Repos"
alias Code="cd ~/Code"
alias Desk="cd ~/Desktop"
# alias skydeo_vps="ssh admin@70.32.73.201"
alias r="rails"
alias s="server"
alias dsites="cd ~/Dropbox/sites"
alias hidedesktop="defaults write com.apple.finder CreateDesktop false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop true && killall Finder"